* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.hamburger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader_btn:hover {
  background-image: none;
  background-color: #ff5656;
  color: black;
  -webkit-transition: background-color 4s, background-image 1s, color 4s;
  transition: background-color 4s, background-image 1s, color 4s;
}

.promo {
  min-height: 800px;
  background: url("../img/main-bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo_btn:hover {
  background-image: none;
  background-color: #ff5656;
  color: black;
  -webkit-transition: background-color 4s, background-image 1s, color 4s;
  transition: background-color 4s, background-image 1s, color 4s;
}

.reasons {
  padding: 71px 0 65px 0;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_descr {
  width: 343px;
}

.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.label-white {
  background-color: #ffffff;
  color: #070716;
}

.title {
  margin-bottom: 0;
  margin-top: 34px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.title-white {
  color: #ffffff;
}

.subtitle {
  text-align: center;
  margin-top: 19px;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #222222;
}

.subtitle-white {
  color: #ffffff;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg-mobile.jpg") center center/cover no-repeat;
}

.mobile-item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 32px;
  padding-top: 92px;
  text-align: center;
}

.mobile-item-1 {
  background: url("../img/app1.jpg") center center/cover no-repeat;
}

.mobile-item-2 {
  background: url("../img/app2.jpg") center center/cover no-repeat;
}

.mobile-item-3 {
  background: url("../img/app3.jpg") center center/cover no-repeat;
}

.mobile-item-4 {
  background: url("../img/app4.jpg") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile-item-5 {
  background: url("../img/app5.jpg") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile-item-6 {
  background: url("../img/app6.jpg") center center/cover no-repeat;
  margin-top: 19px;
}

.mobile-item-subtitle {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.mobile-item-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000000;
  border-radius: 100%;
  cursor: pointer;
}

.mobile-item-plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}

.mobile-item-plus:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
}

.mobile-item-plus:hover:before, .mobile-item-plus:hover:after {
  background-color: red;
}

.choice {
  position: relative;
  min-height: 896px;
}

.choice-header {
  padding-top: 57px;
  height: 499px;
  background-color: #070716;
}

.choice-footer {
  height: 397px;
  background: url("../img/bg-mobile.jpg") center center/cover no-repeat;
}

.choice-footer img {
  position: absolute;
  top: 253px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choice-footer .choice-descr {
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 300;
  color: #222222;
  padding-top: 217px;
  width: 300px;
}

.possibilities {
  padding: 68px 0 53px 0;
}

.possibilities-wrapper {
  margin: 33px 158px 31px 0;
}

.possibilities-title {
  font-size: 22px;
  font-weight: 400;
  color: #1eacc7;
  margin-bottom: 17px;
}

.possibilities-list {
  list-style: none;
  padding-left: 50px;
}

.possibilities-item {
  position: relative;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 300;
  color: #222222;
}

.possibilities-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 2px;
  width: 21px;
  height: 20px;
  background-image: url(../img/icons/blue-marker.png);
}

.possibilities-descr {
  font-size: 17px;
  font-weight: 300;
  margin-top: 23px;
  color: #1eacc7;
}

.possibilities .warning .possibilities-title {
  color: #ff5656;
}

.possibilities .warning .possibilities-item:before {
  background-image: url(../img/icons/red-marker.png);
}

.world {
  min-height: 717px;
  padding: 49px 0;
  background: url("../img/bg-map.jpg") center center/cover no-repeat;
}

.world-link {
  display: block;
  text-align: center;
  margin-top: 486px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1eacc7;
  text-decoration: none;
}

footer {
  min-height: 156px;
}

footer .footer-divider {
  margin: 0 auto;
  margin-top: 14px;
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
}

footer .footer-wrapper {
  padding: 34px 23px 39px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

footer .footer-wrapper .footer-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 9px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
  text-decoration: none;
}

footer .footer-wrapper .footer-social-icon i {
  color: #fff;
}

footer .footer-wrapper .footer-links {
  width: 450px;
}

footer .footer-wrapper .footer-links-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-wrapper .footer-links-head a {
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #070716;
  text-decoration: none;
}

footer .footer-wrapper .footer-links-sub {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-wrapper .footer-links-sub a {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  color: #999999;
  text-decoration: none;
}

footer .footer-wrapper .footer-links-lang {
  display: block;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1fbad6;
}

.logo-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0 40px 0;
}

.logo-test-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 35%;
}

.logo-test-item span {
  font-size: 45px;
}

.logo-test-item:nth-child(even) {
  background-color: black;
}

.logo-test-item:nth-child(odd) {
  background-color: black;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px;
  }
  .menu_link {
    font-size: 13px;
  }
  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 31px;
  }
  .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons_descr {
    width: 305px;
  }
  .mobile-item {
    width: 300px;
  }
  .choice {
    min-height: 800px;
  }
  .choice-footer {
    height: 310px;
  }
  .choice-footer img {
    width: 60%;
  }
  .choice-footer .choice-descr {
    padding-top: 160px;
  }
}

@media (max-width: 991px) {
  .menu_item {
    padding-right: 10px;
  }
  .menu_link {
    font-size: 10px;
  }
  .subheader_logo img {
    width: 100%;
  }
  .subheader_official {
    font-size: 12px;
  }
  .subheader_phone {
    font-size: 20px;
  }
  .subheader_btn {
    width: 100%;
    height: 40px;
  }
  .promo_header {
    font-size: 40px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .promo_descr {
    font-size: 15px;
  }
  .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons_round {
    margin-right: 0;
  }
  .reasons_descr {
    margin-top: 20px;
    width: 305px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    border: none;
    padding-right: 0;
    text-align: center;
    margin-top: 10px;
  }
  .menu_link {
    font-size: 20px;
    text-decoration: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    display: block;
  }
  .subheader_phone {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 12px;
  }
  .subheader_btn {
    margin-top: 10px;
  }
  .promo_header {
    font-size: 30px;
    line-height: 40px;
  }
  .promo_subheader {
    font-size: 20px;
    line-height: 20px;
  }
  .promo_descr {
    font-size: 15px;
    line-height: 20px;
  }
  footer .footer-divider {
    margin-top: 25px;
    width: 253px;
  }
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 21px 20px 18px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer .footer-wrapper .footer-social {
    width: auto;
    margin-top: 20px;
  }
  footer .footer-wrapper .footer-links {
    width: 100%;
  }
  footer .footer-wrapper .footer-links-head a {
    font-size: 13px;
  }
  footer .footer-wrapper .footer-links-sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  footer .footer-wrapper .footer-links-sub a {
    margin: 0 21px;
  }
  footer .footer-wrapper .footer-links-lang {
    margin-top: 10px;
  }
  footer .footer-wrapper .footer-app {
    margin-top: 20px;
  }
  footer .footer-wrapper > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-wrapper > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-wrapper > div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 575px) {
  nav {
    height: 30px;
  }
  header {
    height: 30px;
  }
  .subheader {
    top: 30px;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 28px;
  }
  .subheader_phone {
    font-size: 12px;
    margin-top: 20px;
  }
  .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 40%;
    font-size: 10px;
    margin-top: 10px;
  }
  .promo {
    min-height: 400px;
  }
  .promo_descr {
    display: none;
  }
  .menu {
    width: 85%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .menu_link {
    display: block;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons_block {
    margin-top: 30px;
  }
  .reasons_round {
    width: 100px;
    height: 100px;
  }
  .reasons_descr {
    width: 100%;
    margin-top: 17px;
  }
  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .title-white {
    display: none;
  }
  .subtitle {
    font-size: 14px;
    margin-top: 11px;
  }
  .subtitle-white {
    display: none;
  }
  .mobile {
    padding: 22px 0 43px 0;
    background: url(../img/bg-mobile.jpg) center center;
  }
  .mobile-item {
    width: 290px;
    margin-top: 30px;
  }
  .mobile-item-subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  .choice {
    min-height: 390px;
  }
  .choice-header {
    padding-top: 25px;
    height: 390px;
  }
  .choice-footer {
    width: 0;
    height: 0;
  }
  .choice-footer img {
    width: 95%;
    top: 90px;
  }
  .choice .choice-descr {
    font-size: 17px;
    color: #ffffff;
    position: absolute;
    top: 135px;
    margin: 0 auto;
    width: 100%;
  }
  .possibilities {
    padding: 25px 0 25px 0;
  }
  .possibilities-wrapper {
    margin: 0;
    margin-top: 22px;
  }
  .possibilities-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .possibilities-list {
    padding-left: 30px;
  }
  .possibilities-item {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
  }
  .possibilities-item::before {
    top: -4px;
  }
  .possibilities-descr {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
  }
  .world {
    min-height: 360px;
    padding: 25px 0;
  }
  .world-link {
    margin-top: 216px;
  }
  .title-mobile-show {
    display: block;
  }
  .subtitle-mobile-show {
    display: block;
  }
  footer .footer-divider {
    margin-top: 25px;
    width: 253px;
  }
  footer .footer-wrapper {
    padding: 22px 21px 20px 18px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer .footer-wrapper .footer-social {
    width: auto;
    margin-top: 20px;
  }
  footer .footer-wrapper .footer-links-head a {
    font-size: 13px;
  }
  footer .footer-wrapper .footer-links-sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  footer .footer-wrapper .footer-links-sub a {
    margin: 0 21px;
  }
  footer .footer-wrapper .footer-links-lang {
    margin-top: 10px;
  }
  footer .footer-wrapper .footer-app {
    margin-top: 20px;
  }
  footer .footer-wrapper > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-wrapper > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-wrapper > div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
/*# sourceMappingURL=style.css.map */